SELECT Project_Project.Name, Project_Employee.Name, Project_Employee.Surname, Project_Category.Name FROM Project_Project LEFT JOIN Project_Employee ON Project_Employee.Id = Project_Project.Manager LEFT JOIN Project_Category ON Project_Category.Id = Project_Project.Category